.Header {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: blue;
    color: white;
    height: 50px;
}

.Header a {
    text-decoration: none;
    color: snow;
    font-size: 50px;
    padding: 0 10px;
}